.box {
    border: 1px solid #ccc;
    text-align: center;
    width: 170px;
    margin: 6px;
    padding: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 0 6px #ccc;
    .img {
        width: 100px;
        height: 140px;
    }
    &:hover {
        transform: rotate(1deg) scale(1.04);
        opacity: 0.9;
    }
}